---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

Below you can find the papers that I contributed to during my studies. <div class="wordwrap"> They are also on my <a href="{{site.author.googlescholar}}">Google Scholar profile</a>.</div>

You can download my PhD thesis from <a href="http://egecancogulu.github.io/files/cogulu_phd_thesis.pdf">here</a> or view it from <a href="https://www.proquest.com/openview/1d3dda68f151bd819649e1dae376b87f/1?pq-origsite=gscholar&cbl=18750&diss=y"> here</a>.

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



